h1
{
   color: red ;
}

#bridgefirst
{
      width: 75px;
      border-style: solid ;
      border-color: blue;
}
#bridgesecond
{
    width: 75px;
    border-style: solid ;
    border-color: blue;
}
#bridgethird
{
    width: 75px;
    border-style: solid ;
    border-color: blue;
}
#bridgefourth
{
    width: 75px;
    border-style: solid ;
    border-color: blue;
}
#bridgefith
{
    width: 75px;
    border-style: solid ;
    border-color: blue;
}
#bridgesixth
{
    width: 75px;
    border-style: solid ;
    border-color: blue;
}
#home1
{
    color: blue;
}
