*
{
    box-sizing: content-box;
}

body
{
    background-color: gainsboro;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-height: 100vh;
}

main
{
    grid-column: 2/4;
    border: 5px solid black;
    background-color: darkseagreen;
    height: 50rem;
    margin-block: 10px;
    border-radius: 10px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
}

input, select
{
    max-width: 150px;
}
